*{
	margin: 0;
	padding: 0;
}
body{
	overflow-x: hidden;
}
/*font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;*/
a{
	text-decoration: none;
}
/*header section css*/
header{
	width: 100%;
	padding: 12px 0;
	background-color: #000;
}
.container{
	width: 1140px;
	margin: 0 auto;

}
.navbar{
	display: flex;
	justify-content: space-between;
}
.menus ul li{
	list-style: none;
	display: inline-block;
	margin-left: 50px;
}
.menus ul li a{
	line-height: 2;
	color: #b0b0b0;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	position: relative;
}
.menus ul li a:before{
	content: '';
	height: 3px;
	width: 0%;
	background-color: #ff9b51;
	position: absolute;
	left: 0;
	bottom: -8px;
	transition: 0.5s;
}
.menus ul li a:hover:before{
	width: 100%;
	transition: 0.5s;
}
.menus ul li a:after{
	content: '';
	height: 3px;
	width: 0%;
	background-color: #ff9b51;
	position: absolute;
	left: 0;
	top: -8px;
	transition: 0.5s;
}
.menus ul li a:hover:after{
	width: 100%;
	transition: 0.5s;
}
/*banner section css*/
#banner{
	width: 100%;
	background-image: url(../img/banner.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: scroll;
	height: 100vh;
}
.b-content{
	display: flex;
	align-items: center;
	height: 100vh;
}
.b-left{
	flex-basis: 70%;
	color: white;
}
.b-right{
	flex-basis: 30%;
}
.b-left h1{
	font-size: 66px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}
.b-left h1 span{
	font-weight: 300;
	color: #ff9b51;
}
.b-left h2{
	font-size: 36px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	margin-right: 252px;
}
.line{
	width: 75px;
	height: 2px;
	background-color: #fff;
	margin: 24px 0;
}
.b-left p{
	font-size: 16px;
    color: #fefefe;
    line-height: 1.6;
    margin-right: 320px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 32px;
}
.b-btn{
	padding: 10px 20px;
	text-align: center;
	border: 2px solid white;
	color: white;
	display: inline-block;
	background-color: transparent;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
.f-header{
	background-color: #ebe7e7;
    text-align: center;
    padding: 15px;
    border-radius: 6px 6px 0 0;
}
.f-header h3{
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.f-header h3 span{
	color: #ff9b51;
}
.f-body{
	background-color: white;
	padding: 32px;
}
.f-body input{
	color: #cccccc;
    width: 92%;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #cccccc;
    padding: 8px 12px;
}
.f-body input:focus{
	outline: none;
}
.f-footer{
	padding: 9px;
    background: #ff9b51;
    text-align: center;
    border-radius: 0 0 6px 6px;
}
.f-footer input{
	background: transparent;
    color: white;
    border: none;
    padding: 8px;
    font-size: 15px;
    width: 100%;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}
/*social media css*/
#social-media{
	width: 100%;
	background-color: white;
	padding: 25px;
}
.s-content{
	display: flex;
	align-items: center;
}
.s-left{
	flex-basis: 30%;
}
.s-right{
	flex-basis: 70%;
	text-align: right;
}
.s-right ul li{
	list-style: none;
	display: inline-block;
	margin-left: 61px;
}
.s-right ul li a i{
	font-size: 38px;
	color: #cccccc;
}
.s-left h4{
	font-size: 20px;
    font-family: 'Open Sans', sans-serif;
	
}
.s-left p{
	font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #86878b;

}
/*features section css*/
#features{
	width: 100%;
	background-color: #f5f5f5;
	padding: 100px 0;
}
.f-content{
	display: flex;	
}
.tab-item{
flex-basis: 30%;
}
.tab-content{
flex-basis: 50%;
}
.tab-img{
flex-basis: 20%;
}
.tab-item ul li{
	list-style: none;
    background-color: #333333;
    margin: 2px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    font-family: 'Open Sans', sans-serif;

}
.one-tactive{
	background: #ff8b38 !important;
}
.tab-item li:first-child{
	border-radius: 6px 6px 0 0;
}
.tab-item li:last-child{
	border-radius: 0 0 6px 6px;
}
.tab-content h5{
	font-size: 20px;
    font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	margin-bottom: 32px;
}
.tab-content p{
	font-size: 14px;
    font-family: 'Open Sans', sans-serif;
	color: #86878b;
	margin-right: 54px;
    margin-bottom: 30px;
    line-height: 1.7;
}
.f-btn{
	padding: 10px 20px;
	text-align: center;
	border: 2px solid white;
	color: white;
	display: inline-block;
	background-color: #ff8b38;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	border-radius: 6px;
	transition: 0.5s;
}
.f-btn:hover{
	background-color: black;
	transition: 0.5s;
}
/*sub list css*/

#features_four_area{
	width:100%;
	background-color:white;
	padding:100px 0;
}
.features_four_flex{
	display:flex;
	align-items:center;
}
.features_four_left{
	flex-basis:50%;
	text-align:left;
}
.features_four_right{
	flex-basis:50%;
	margin-left:163px;
}
.features_four_right h2{
	font-family: 'Open Sans', sans-serif;
}
.features_four_right p{
	font-family: 'Open Sans', sans-serif;
	color: #86878b;
}
.line_two{
	width:75px;
	height:2px;
	background-color:#ff8b38;
	margin:24px 0;
}

.logo_content{
	margin-top:50px;
}
.logo_content_up{
	margin-bottom:30px;
}
.arrow_and_logoarea{
	display:flex;
}
.arrow i{
	font-size:15px;
	color:#ff8b38;
	width:40px;
	height:40px;
	border:2px solid #ff8b38;
	border-radius:50%;
	line-height:40px;
	text-align:center;
}
.logo_content_details{
	margin-left:40px;
}
.logo_content_details h4{
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
}


/*sublist section css*/
.sojib{
	width: 100%;
	background-color: #f5f5f5;
}
.c-content{
	display: flex;

}
.c-right{
	flex-basis: 50%;
	margin-top: 120px;
}
.c-left{
	flex-basis: 50%;
	padding-top: 90px;
	margin-left: 108px;
}
.c-right h6{
	font-size: 20px;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	color: #212121;
}
.line3{
	width: 75px;
	height: 2px;
	background-color: #ff9b51;
	margin: 24px 0;
}
.c-right p{
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	color: #86878b;
	line-height: 1.5;
}
/*awesome css*/
#awesome_section{
	width: 100%;
	padding: 100px 0;
}
.section_06{
	text-align: center;
}
.section_06 p{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-style: italic;
	color: #86878b;
}
.section_06 h1{
	font-family: 'Raleway', sans-serif;
	font-size: 36px;
	font-weight: 400;
}
.section_06 .line4{
	width:75px;
	height:2px;
	background-color:#ff8b38;
	margin: 32px auto;
}
.icon-section{
	display: grid;
	grid-template-columns: auto auto auto;
	text-align: center;
	margin-top: 42px;
	column-gap: 26px;
}
.icon-section .icons h3{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 700;
	margin: 14px 0;

}
.icon-section .icons p{
	font-family: 'Open Sans', sans-serif;
	color: #86878b;
	font-size: 14px;
}
.icon-section .icons i{
	height: 60px;
    width: 60px;
    line-height: 60px;
    border-radius: 100%;
    color: #ff8b38;
    font-size: 23px;
    border: 2px solid #ff8b38;
}
.icon-section .icons{
	padding: 32px 16px;
	border-radius: 10px;
	transition: 0.5s;

}
.icon-section .icons:hover{
	box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
	transition: 0.5s;
}
#Pricing{
	width: 100%;
	padding: 100px 0;
	background-color: #f5f5f5;
}
.Pricing-box{
	display: grid;
	grid-template-columns: auto auto auto;
	text-align: center;
	margin-top: 32px;
	column-gap: 32px;
	align-items: end;
}
.t-item{
	transition: 0.5s;
}
.t-item:hover{
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
	transform: translate(-10px);
	transition: 0.5s;
}
.t-head{
	background: #333333;
	padding: 12px 0;
	border-bottom: 1px solid #fff;
}
.t-head h6{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: #fff;
}
.t-body{
	background: #333333;
	padding: 16px 0;
	border-bottom: 4px solid #ff8b38;
}
.t-body h2{
	font-size: 35px;
	font-family: 'Open Sans', sans-serif;
	color: white;
}
.t-body span{
	font-size: 105px;
}
.t-body .fa{
	font-size: 85px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.t-body .sa{
	font-size: 85px;
}
.t-body p{
	color: #ccc;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 14px;
}
.t-foot{
	background: #fff;
}
.t-foot ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.t-foot ul li{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	border-bottom: 1px solid #cdc8c8;
    padding: 10px 0px;
    text-transform: uppercase;
}
.t-foot ul li:last-child{
	border-bottom: 0;
}
.popular{
	font-family: 'Open Sans', sans-serif;
	background: #ff8b38;
	padding: 8px 0 12px 0;
	color: #fff;
	text-transform: uppercase;
}
/*testimonial css*/
#testimonial{
	width: 100%;
	padding: 100px 0;
	
}
.teuser{
display:flex;
	margin-top:25px;
}
.teuser{
	margin-left:19px;
}
.owl-carousel .owl-item img {
    display: block;
    width: 16%;
    margin-left:-18px;
}
.teuser span{
	margin: 10px;
	font-family: 'Open Sans', sans-serif;
	color: black;
	font-size: 14px;
	font-weight: 700;
}
.tesbox p{
	font-family: 'Open Sans', sans-serif;
	color: #86878b;
	font-size: 16px;
}
.owl-carousel{
	margin-top: 50px;
}
.tesbox{
	background: #f5f5f5;
    width: 270px;
    padding: 20px;
    color: white;
    font-style: italic;
    border-radius: 5px;
}
.minibox{
	height: 40px;
    width: 40px;
    background: #f5f5f5;
    position: absolute;
    bottom: 75px;
    transform: rotate(45deg);
    z-index: -1;
    margin-bottom: -1px;
}
.index{
	width:100%;
	background-image: url(../img/stylish.png);
	height:320px;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:scroll;
}
/*style css*/
.s-style{
		padding-top:70px;
	text-align:center;
}
.s-style h1{
	color:white;
	font-size:40px;
	margin-bottom:20px;
	font-family: 'Raleway', sans-serif;
	font-weight:400;
}
.s-style p{
	color:white;
	margin-top:20px;
	font-family: 'Raleway', sans-serif;
}
.line5{
		width:70px;
	height:2px;
	background-color:white;
	margin:0 auto;
}
.d-section{
		margin-top:50px;
	text-align:center;
}
/* <!-- 	features section contuct us code starts from here  --> */

#contuct_us_area{
	width:100%;
	padding:100px 0;
	background-color:white;
}
.form_area{
	margin-top:70px;
	display:flex;
	justify-content:space-between;
}
.form_left{
	width:50%;
}
.form_right{
	width:50%;
}
.customer_area_top h1{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size:40px;
	font-weight: 400;
}
.customer_area_top p{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-style: italic;
	color: #86878b;
}
.line6{
	width:70px;
	height:2px;
	background-color:#ff9b51;
	margin: 32px auto;
}
.input_list input{
	border:none;
	border-bottom:1px solid #d6d6d6;
	width:80%;
	padding:18px 20px;
	margin-bottom:0px;
	

}
.input_list input:focus{
	outline:none; 	
}
.form_right textarea:focus{
	outline:none; 
}

.form_right textarea{
	border:none;
	border-bottom:1px solid #d6d6d6;
	outline-color:0;
	padding:17px 20px;
	height:122px;
}
.contuct_us_download{
	text-align:center;
	margin-top:50px;
}

/* <!-- 	features section footer code starts from here  --> */

.footer_area{
	width:100;
	background-color:black;
	padding:15px;
	text-align:center;
	align-items:center;
}
.footer_top_social_icon ul li{
	list-style:none;
	display:inline-block;
	margin-left:25px;
	
}
.footer_top_social_icon ul li a{
	font-size:25px;
	color:#cccccc;
}

.footer_bottom p{
	color:#cccccc;
	margin-top:10px;
}